@model VenueBookingCore.Models.Venue

    <form asp-action="Delete" method="post">
    <input asp-for="VenueId" readonly="true" />
    <input asp-for="EventName" readonly="true" />
    <input asp-for="VenueName" readonly ="true"/>
    <input asp-for="Price" readonly="true" />
    <input asp-for="Address" readonly ="true"/>


        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>