@model VenueBookingCore.Models.Event
<h2>Create </h2>
<form asp-action="Create" asp-Controller="Event" method="post">
    <div class="form-group">
        <label asp-for="EventName"class="form-control" col-sm-2">Enter the Event Name</label>
        <input asp-for="EventName" class="form-control" col-sm-10/>
    </div>
    <div class="form-group">
        <label asp-for="Details" class="form-control col-sm-2">Enter the Details</label>
        <input asp-for="Details" class="form-control" col-sm-10/>
    </div>
    <div>
        <button type="submit" class="btb btn-success" >Create</button>
    </div>
</form>